class AddVirtualAssistant(FlaskForm):
    name = StringField("name", validators=[DataRequired()])
    last_name = StringField("last_name", validators=[DataRequired()])
    job = SelectField("job", choices=[], coerce=int, validators=[DataRequired()])
    photo = FileField("photo", validators=[DataRequired()])

class UpdateVirtualAssistant(AddVirtualAssistant):
    id = IntegerField(widget=HiddenInput())

https://stackoverflow.com/questions/5834014/lf-will-be-replaced-by-crlf-in-git-what-is-that-and-is-it-important
warning: LF will be replaced by CRLF in .idea/inspectionProfiles/profiles_settings.xml.
The file will have its original line endings in your working directory

<html>
    <body>
        <form method="POST"  enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.name }}</br></br>
            {{ form.last_name }}</br></br>
            {{ form.job }}</br></br>
            {{ form.photo }}</br></br>
            <button type="submit">Add assistant</button>
        </form>

            {% for assistant in virtual_assistants %}
              <p><a href="{{ url_for("update_virtual_assistant", id=assistant.id) }}">{{assistant.name}}</a></p>
              <p>{{assistant.last_name}}</p>
              <p>{{assistant.image_url}}</p>
              <p>{{assistant.job}}</p>
              <p><img  class="img-responsive watch-right" alt="not found" src="{{assistant.image_url}}"/></p>
            {% endfor %}
    </body>
</html>